/* general */
   * {
      box-sizing: border-box;
   }

   html {
      font-size: 62.5%;
   }

   body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1.6rem;
      background: #FCFDFD;;
   }

/* header area */

   .header {
      background: #BBCED7;
      color: #7D8A90;
      margin-bottom: 4.8rem;
      padding: 1.6rem 0;
   }

   .header__title {
      font-size: 3.2rem;
      margin: 0;
   }

   .header__subtitle {
      color: #FCFDFD;
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0;
      margin-bottom: 5px;
   }

   /* Extra Buttons */
   .extraButtonContainer {
      float: right;
   }

   .developerButtons {
      display: none;
   }

   /* Clear floats after the header */
   .header:after {
      content: "";
      display: table;
      clear: both;
   }

/* Container */
   .container {
      max-width: 60rem;
      margin: 0 auto;
      padding: 0 1.6rem;
   }

   .input {
      background: #E3EBEF;
      margin: 0;
      border: none;
      border-bottom: .6rem solid;
      border-color: #CAD2D6;
      border-radius: 0;
      width: 75%;
      padding: 10px;
      float: left;
      font-size: 16px;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   }

   #displayStatus {
      position: relative;
      right: 0px;
   }

/* Style the "Add" button */
   .addButton {
      background: #5A8194;
      color: #FFF;
      border: none;
      border-bottom: .6rem solid;
      border-color: #41687B;
      padding: 10px;
      width: 25%;
      float: left;
      font-size: 16px;
      cursor: pointer;
      border-radius: 0;
      text-align: center;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   }

   .addButtonHover {
      background: #89A7B5;
      /*transition: 0.3s;*/
   }

/* Checklist & Checklistitem */
   /* Remove margins and padding from the list */
   ul {
      margin: 0;
      padding: 0;

      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   }

   /* Style the list items */
   ul li {
      cursor: pointer;
      position: relative;
      /*padding: 12px 8px 12px 40px;*/
      padding: 12px 40px 12px 40px;
      font-size: 18px;
      /*transition: 0.2s;*/

      background: #E3EBEF;
      list-style-type: none;

      /* make the list items unselectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      word-break: break-all;
   }

   /* Set all odd list items to a different color (zebra-stripes) */
   ul li:nth-child(odd) {
      background: #f9f9f9;
   }

   /* When clicked on, add a background color and strike out text */
   ul li.checkedListItem {
      background: #89A7B5;
      color: #fff;
      text-decoration: line-through;
   }

   ul li.hoverListItem {
      background: #DDD;
   }

   .removeButton {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 18px;
      padding: 12px 16px;
   }

   .removeButton.hover {
      background-color: #f44336;
   }

   .checkIcon {
      position: absolute;
      left: 15px;
      display: none;
   }

   .checkIcon.checked {
      display: block;
   }

/* MODAL */
   .openLoginModal__Button {
      cursor: pointer;
   }

   /* The Modal (background) */
   .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
   }

   /* Modal Content */
   .modal__content {
      position: relative;
      z-index: 1;
      background-color: #fefefe;
      margin: auto;
      width: 90%;
      padding: 0;
      border: 1px solid #888;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      animation-duration: 0.4s */
   }

   /* The Close Button */
   .closeLoginModal__Button {
      /*color: black;*/
      /*float: right;*/
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 16px;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   }

   .closeLoginModalButtonHover {
      /*background-color: #f44336;*/
      color: grey;
   }

   .modal__header {
      padding: 2px 16px;
      /*background-color: #BBCED7;*/
      color: black;
   }

   .modal__body {
      padding: 2px 16px;
   }

   .modal__footer {
      padding: 2px 16px;
      /*background-color: #5cb85c;*/
      color: black;
   }

   .inputModal {
      background: #E3EBEF;
      margin: 0;
      border: none;
      border-bottom: .6rem solid;
      border-color: #CAD2D6;
      border-radius: 0;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      /*float: left;*/
      font-size: 16px;
   }

   .spaceing {
      height: 30px;
   }

   .loginSubmit__Button {
      background: #5A8194;
      color: #FFF;
      border: none;
      border-bottom: .6rem solid;
      border-color: #41687B;
      padding: 10px;
      /*position: absolute;*/
      /*right: 0px;*/
      /*width: 30%;*/
      float: right;
      font-size: 16px;
      cursor: pointer;
      border-radius: 0;
      /*text-align: center;*/
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   }

   .footer__message {
      text-align: right;
   }

/* Developermode */
   /* Snackbar */
   .snackbar {
      min-width: 250px;
      margin-left: -125px;
      /* background-color: #333; */
      background-color: #E3EBEF;
      /* color: #fff; */
      color: #f44336;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 15px;
      opacity: 0;
   }

   /* Developer Tab */
   .developerTab {
      display: none;  
   }

   /* Developer Mod */
   .developerMode__button {
      width: 32px;
      position: fixed;
      right: 0px;
      right: 0px;
      bottom: 40px;
      background-color: #E3EBEF;
      cursor: pointer;
      opacity: 0.5;
   }